@media screen and (min-width: 270px) and (max-width: 504px) {
    .gallery-item:first-of-type {
      grid-column: 1 / span 2;
    }
    .gallery {
      grid-auto-rows: 283px;
    }
  }
  
  @media screen and (min-width: 505px) and (max-width: 685px) {
    .gallery-item:nth-of-type(odd) {
      grid-column: 2 / span 2;
    }
  }
  
  @media screen and (min-width: 686px) and (max-width: 862px) {
    .gallery-item:nth-of-type(3n + 1) {
      grid-column: 2 / span 2;
    }
  }
  
  @media screen and (min-width: 862px) and (max-width: 1038px) {
    .gallery-item:nth-of-type(4n + 1) {
      grid-column: 2 / span 2;
    }
  }
  
  @media screen and (min-width: 1039px) and (max-width: 1215px) {
    .gallery-item:nth-of-type(5n + 1) {
      grid-column: 2 / span 2;
    }
  }
  
  @media screen and (min-width: 1215px) and (max-width: 1391px) {
    .gallery-item:nth-of-type(6n + 1) {
      grid-column: 2 / span 2;
    }
  }
  
  @media screen and (min-width: 1321px) {
    .gallery-item:nth-of-type(7n + 1) {
      grid-column: 2 / span 2;
    }
  }
  