@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
$primary_color: #a8201a;
$blue_color: #0075C4;
$green_color: #32936F;
$dark_primary_color: darken($primary_color, 10%);
$about_white: #fefefe;
